/// Light background color.
/// @type Color

$aux: #f1f3f5;

/// Main background color.
/// @type Color

$bg: #fff;

/// Border color.
/// @type Color

$border: #e9ecef;

/// Disablted text.
/// @type Color

$disabled: #adb5bd;

/// Gradient background start.
/// @type Color

$gradient: #dee2e6;

/// Green text.
/// @type Color

$green: #12b886;

/// Primary color.
/// @type Color

$primary: #15aabf;

/// Red color.
/// @type Color

$red: #fa5252;

/// Muted text.
/// @type Color

$text-muted: #868e96;

/// Text color.
/// @type Color

$text: #212529;
