@use 'sass/color';

@import url('//fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-attachment: fixed;
  background-color: color.$bg;
  background-image: linear-gradient(to bottom, color.$bg, color.$gradient);
  color: color.$text;
  font-family: 'Open Sans', sans-serif;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

body {
  min-height: 100%;
}
